@model VEGEFOODS.Models.ClientModel.SignUpViewModel

@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<section class="vh-100">
    <h2 style="text-align:center;">Sign up</h2>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="divider d-flex align-items-center my-4">
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">User Name</label>
                        @Html.EditorFor(model => model.userName, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter name" } })
                        @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })

                    </div>
                    <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email address</label>
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter a valid email address" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                <label class="text-danger" for="form3Example4">@ViewBag.Notification</label>
            </div>

                    <!-- Password input -->
            <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Enter password" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

               
            </div>

             

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Sign up
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0" style="font-size: large;">
                            Already have an account? <a href="@Url.Action("Login", "ClientLogin")"
                                                        class="link-danger">Login</a>
                        </p>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->
        <!-- Right -->
        <!-- Right -->
    </div>
</section>