@model VEGEFOODS.Models.product
@{
    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section HeaderMenu{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">Danh mục</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/product" class="nav-link">Sản phẩm</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/user" class="nav-link">Người dùng</a>
        </li>
    </ul>
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới sản phẩm</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="card">
        <div class="card card-primary" style="margin-bottom: 0px;">
            <div class="card-header" style="background-color:#82ae46;">
                <h3 class="card-title">Thêm mới sản phẩm</h3>
            </div>
            @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { }))
            {
        <div class="card-body">
            <div class="form-group">
                <label for="categoryInput">Tên sản phẩm</label>
                @*<input type="text" class="form-control" id="categoryInput" placeholder="Enter category name">*@
                @Html.TextBoxFor(x => x.name, new { @class = "form-control", @placeholder = "Nhập tên sản phẩm" })
            </div>

            <div class="form-group">
                <label for="categoryInput">Loại sản phẩm</label>
                @Html.DropDownListFor(x => x.category_id, ViewBag.Category as SelectList , new { @class = "form-control", @placeholder = "Nhập tên sản phẩm" })
            </div>

            <div class="form-group">
                <label for="categoryInput">Số lượng</label>
                @*<input type="text" class="form-control" id="categoryInput" placeholder="Enter category name">*@
                @Html.TextBoxFor(x => x.quantity, new { @class = "form-control", @placeholder = "Nhập số lượng sản phẩm", @type = "number" })
            </div>

            <div class="form-group">
                <label for="categoryInput">Giá cả</label>
                @*<input type="text" class="form-control" id="categoryInput" placeholder="Enter category name">*@
                @Html.TextBoxFor(x => x.price, new { @class = "form-control", @placeholder = "Nhập giá cả sản phẩm", @type = "number" })
            </div>

            <div class="form-group">
                <label for="categoryInput">Mô tả</label>
                @*<input type="text" class="form-control" id="categoryInput" placeholder="Enter category name">*@
                @Html.TextAreaFor(x => x.description, new { @class = "form-control", @placeholder = "Nhập mô tả sản phẩm" })
            </div>

            <div class="form-group">
                <label for="exampleInputFile">Ảnh sản phẩm</label>
                <div class="input-group">
                    <div class="custom-file">
                        @Html.TextBoxFor(x => x.image, new { @class = "form-control", @id = "product-image" })
                    </div>
                    <div class="input-group-append">
                        <input type="button" class="input-group-text" value="Tải ảnh" onclick="UploadImage('product-image')">
                    </div>
                </div>
            </div>

        </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" style="background-color:#82ae46;">Thêm</button>
                    <a href="/admin/product/index" class="btn btn-primary" style="background-color:#82ae46;">Quay lại</a>
                </div>
            }
        </div>
    </div>

</section>

@section scripts{
    <script>
        function UploadImage(fieldId) {
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                document.getElementById(fieldId).value = url;
            };
            finder.popup();
        }
    </script>
    

    }